body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

input {
    display: block;
}

.flex {
    display: flex;

}

.column-one {

}

.column-two {

}

.column-three {

}

#login_form {

}

#greeting {

}

#loginbtn {
    height: 25px;
}
 
#reset {
    position: absolute;
    right: 0px;
    top: 500px;  
}

.personal-message {
    text-align: center;
}

.friend-cell {
    border: #aaaaaa 2px solid;
    background-color: #A0A0A0;
}

.friend-cell:hover {
    background-color: #A00000;
}

.friend-cell.own:hover {
    background-color: #A0A0A0;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 20%;
}

#message-input {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
    left: 0px;
}

#message-input>textarea{
    width: 79%;
    height: 100%;
    padding: 0px;
    border: none;
}

#message-input>#send-msg {
    width: 20%;
    height: 100%;

    /* Safari 9.1 specific hack  */
    position: relative;
    top: -85px;
}

#conversation {
    position:absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    overflow-y: scroll;    
    left: 0px;
}

nav>ul, #friend-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    left: 0px;
    top: 25%;
}

header {
    background-color: #aaaaaa;
    height: 50px;
}

#requests {
    position: absolute;
    right: 0px;
    background-color: #CCaaaa;
    height: 100%;
}

#requests:hover {
    background-color: #FFBB00; 
}

.request-div {
    position: absolute;
    right: 0px;
    list-style-type: none;
}

.request-div > li {
    border: 2px solid #aaaaaa;
    margin-bottom: 4px;
}

.request-div > * {
    line-height: 0.3em;
}

.accept-rq {
    /* margin-bottom: 20px; */
    /* display: block; */
}